.logout_btn {
    padding: 8px 14px;
    background: #333;
    color: #fff;
    border: 1px solid #555;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    margin-left: auto;
}

.logout_btn:hover {
    background: #494949;
}