html{
    background-color: #fcfcfc;
}


.header{
  height: 56px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #e5e8ef;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-bottom: 33px;

  box-shadow: 0px 8px 10px 0 #ccced1;
}

.body{
    border: 1px solid #e5e8ef;
    border-radius: 25px;
    margin: 0px 30px 0px 30px;
    overflow: hidden;

    
    box-shadow:
    8px 0px 10px #ccced1,   /* 오른쪽 */
   -8px 0px 10px #ccced1,  /* 왼쪽 */
    0px 8px 10px #ccced1,  /* 아래 */
    0px -8px 10px #ccced1; /* 위 */
}